<% @posts.each do |post| %>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <h2><%=post.title%></h2>
    <p><span class="border-left"><%=post.content %></span></p>
    <p class="text-secondary" style="font-size: 75%"><a href="/post/<%=post.id%>">#<%=post.id%></a> | Author: <%=post.user.name%> | Comments: <%=post.comments.count%></p>
  </div>
<% end %>
